## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,83.73,66,100,3.62,PG,2021-10-01 22:44:25
1,1,Ushuaia,-54.8000,-68.3000,40.66,65,40,25.32,AR,2021-10-01 22:44:25
2,2,Khatanga,71.9667,102.5000,27.05,94,100,2.06,RU,2021-10-01 22:44:25
3,3,Xining,36.6167,101.7667,50.40,45,73,3.15,CN,2021-10-01 22:44:26
4,4,Saldanha,-33.0117,17.9442,55.45,77,1,13.94,ZA,2021-10-01 22:44:26

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_cities_df.head(10)

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,83.73,66,100,3.62,PG,2021-10-01 22:44:25
5,5,Kahului,20.8947,-156.4700,87.82,63,20,26.46,US,2021-10-01 22:44:26
17,17,Kavaratti,10.5669,72.6420,80.11,83,99,8.75,IN,2021-10-01 22:42:45
19,19,Itoman,26.1247,127.6694,82.42,74,40,14.97,JP,2021-10-01 22:44:29
28,28,Saint George,37.1041,-113.5841,82.44,16,1,3.00,US,2021-10-01 22:44:31
49,49,Kathu,7.9178,98.3332,83.70,99,99,4.18,TH,2021-10-01 22:44:36
50,50,Avera,33.1940,-82.5271,83.71,54,92,5.10,US,2021-10-01 22:44:37
52,52,Warah,27.4481,67.7978,83.59,68,91,8.41,PK,2021-10-01 22:44:37
58,58,Kapaa,22.0752,-159.3190,84.18,65,40,3.00,US,2021-10-01 22:44:39
60,60,Manzanillo,20.3433,-77.1167,82.13,68,61,13.58,CU,2021-10-01 22:44:39

In [11]:
# 4a. Determine if there are any empty rows.
city_data_df.isnull().sum()

City ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       8
Date          0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.dropna()
clean_df

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,83.73,66,100,3.62,PG,2021-10-01 22:44:25
1,1,Ushuaia,-54.8000,-68.3000,40.66,65,40,25.32,AR,2021-10-01 22:44:25
2,2,Khatanga,71.9667,102.5000,27.05,94,100,2.06,RU,2021-10-01 22:44:25
3,3,Xining,36.6167,101.7667,50.40,45,73,3.15,CN,2021-10-01 22:44:26
4,4,Saldanha,-33.0117,17.9442,55.45,77,1,13.94,ZA,2021-10-01 22:44:26
...,...,...,...,...,...,...,...,...,...,...
589,589,Saint-Francois,46.4154,3.9054,55.47,92,0,2.30,FR,2021-10-01 22:47:01
590,590,Malindi,-3.2175,40.1191,75.54,80,77,12.41,KE,2021-10-01 22:47:02
591,591,Selestat,48.2598,7.4565,61.61,76,0,1.14,FR,2021-10-01 22:47:02
592,592,Yumen,40.2833,97.2000,50.45,54,71,16.42,CN,2021-10-01 22:42:44
593,593,Naryan-Mar,67.6713,53.0870,36.32,76,67,7.09,RU,2021-10-01 22:47:02

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp","Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""


hotel_df["Current Description"] = ""

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name,Current Description
0,Kavieng,PG,83.73,-2.5744,150.7967,,
1,Ushuaia,AR,40.66,-54.8000,-68.3000,,
2,Khatanga,RU,27.05,71.9667,102.5000,,
3,Xining,CN,50.40,36.6167,101.7667,,
4,Saldanha,ZA,55.45,-33.0117,17.9442,,
5,Kahului,US,87.82,20.8947,-156.4700,,
6,Jamestown,US,65.52,42.0970,-79.2353,,
7,Busselton,AU,49.08,-33.6500,115.3333,,
8,Severo-Kurilsk,RU,51.03,50.6789,156.1250,,
9,Mataura,NZ,54.48,-46.1927,168.8643,,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    json_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(json_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name,Current Description
0,Kavieng,PG,83.73,-2.5744,150.7967,Nusa Island Retreat,
1,Ushuaia,AR,40.66,-54.8000,-68.3000,Albatros Hotel,
2,Khatanga,RU,27.05,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye""",
3,Xining,CN,50.40,36.6167,101.7667,Super Leisure Hotel,
4,Saldanha,ZA,55.45,-33.0117,17.9442,Blue Bay Lodge,
...,...,...,...,...,...,...,...
589,Saint-Francois,FR,55.47,46.4154,3.9054,Manoir Du Bonheur,
590,Malindi,KE,75.54,-3.2175,40.1191,African House Resort,
591,Selestat,FR,61.61,48.2598,7.4565,Hotel Restaurant Au Parc Des Cigognes,
592,Yumen,CN,50.45,40.2833,97.2000,,
593,Naryan-Mar,RU,36.32,67.6713,53.0870,Hostel Agat,

In [29]:
# 8a. Create the output File (CSV)
csv_data_file = "Weather_Database/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(csv_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))